.container-footer {
  height: 100vh;
  background-color: #304268;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
}

.button-footer {
  text-decoration: none;
  width: 20px;
  padding: 0 30px 0 130px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background: #ffffff;
}
.articles {
  font-family: Roboto;
  font-size: 16px;
  list-style-type: none;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.redes-sociales {
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
}
.link-footer {
  font-family: Roboto;
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
}
.copyright {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
}
.components {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 45px;
}
