.footer {
  background-color: #304268;
}
.container-footer {
  height: 100vh;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
}

.button-footer {
  text-decoration: none;
  width: 20px;
  padding: 15px 38px 10px 17px;
  display: block;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background: #ffffff;
  margin: 0 auto;
}
.articles {
  font-family: Roboto;
  font-size: 16px;
  list-style-type: none;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.redes-sociales {
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
}
.link-footer {
  font-family: Roboto;
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
}
.copyright {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
}
.components {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 45px;
}
@media all and (min-width: 728px) {
  .container-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .copyright {
    padding-right: 39px;
  }
  .components {
    padding-right: 39px;
    padding-bottom: 142px;
  }
  .articles {
    padding-left: 30px;
  }

  .redes-sociales {
    padding-right: 39px;
    padding-left: 30px;
    padding-top: 45px;
    padding-bottom: 105px;
  }
}
