.container-hero {
  background-image: url("../images/cover.jpg");
  background-color: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-burger {
  position: fixed;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
  background-color: #6495ed;
}
.anonymous {
  width: 290px;
  height: 110px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-family: RobotoSlab;
  font-size: 42px;
  font-weight: bold;
  align-items: center;
  color: #ffffff;
}
.botton-scroll-down {
  align-content: center;
}

.text {
  align-content: center;
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
}
