.container-looking {
  background-color: #ffffff;
  width: 320px;
  height: 376px;
}
.imsonmia-text {
  align-items: flex-end;
  font-family: Roboto;
  font-size: 14px;
  color: #add8e6;
}

.looking-text {
  align-items: flex-end;
  font-family: RobotoSlab;
  font-size: 24px;
  color: #000000;
}
.parrafo {
  font-family: Roboto;
  font-size: 18px;
  color: #4a4a4a;
}
.button-go {
}
