.container-reasons {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eff9ff;
}
.reasons {
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 24px;
  font-family: "Roboto Slab";
  color: black;
  span.phone::before {
    content: "\A";
    white-space: pre;
  }
  text-align: center;
  transition: color ease 0.5s;
  &:hover {
    color: green;
  }
}
.title-reasons {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.pharagraph-reasons {
  color: black;
  font-family: Roboto-Regular;
  font-size: 18px;
  text-align: center;
  margin-bottom: 45px;
  display: block;
  margin-left: 70px;
  margin-right: 70px;
}
.button-more-reasons {
  text-decoration: none;
  line-height: 40px;
  height: 45px;
  padding: 0 30px 0 25px;
  border-radius: 30px;
  font-size: 20px;
  font-family: Roboto-Medium;
  color: white;
  background: #f26002;
  text-transform: capitalize;
  margin-bottom: 53px;
  margin-top: 45px;
  margin-bottom: 60px;
}
@media all and (min-width: 728px) {
  .container-reasons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reasons {
    width: 100%;
  }

  .reason-sections {
    width: 33%;
  }

  .title-reasons {
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
